@import url(https://fonts.googleapis.com/css?family=Righteous);

body {
	background-color: #FF282F;
	color: white;
}

#pomodoro {
	width: 28em;
	height: 25em;
	margin: 0 auto;
}

h1 {
	font-family: 'Righteous', cursive, sans-serif;
	margin: 0;
	padding: 0;
	font-size: 3em;
}

#title {
	display: none;
}

#left-title {
	display: inline;
	position: relative;
	top: 4.3em;
	left: -0.2em;
	float: left;
}

#right-title {
	float: left;
	position: relative;
	top: 4.3em;
	left: 0.2em;
}

#tomato {
	float: left;
}

#tomato img {
	position: relative;
	top: 2.3em;
	left: 2.7em;
}

#ring {
	height: 15em;
	width: 15em;
	border: 1.5em solid white;
	border-radius: 50%;
}

#tomato button {
	background: none;
	border: none;
}

#tomato button:focus {
	outline: none;
}

#ring p {
	position: relative;
	font-size: 3em;
	opacity: 0.9;
}

#ring p button {
	padding: 0;
}

#settings {
	display: none;
	position: relative;
	top: 0.8em;
	text-align: center;
	font-size: 1.5em;
}

#breakDiv {
	position: relative;
	top: 0.3em;
}

#settings button {
	font-size: 0.8em;
}

#bottomIcon {
	font-size: 1.2em;
	font-weight: bold;
	text-align: center;
	color: #FF282F;
	position: relative;
	top: -1.3em;
}

.clear {
	clear: both;
}

#continue, #restart {
	position: relative;
	margin: 0 0.2em;
	top: 0.2em;
}

@media screen and (max-width: 479px) {
	#pomodoro {
		width: 15em;
	}

	#tomato {
		float: none;
	}

	#title {
		display: inline;
	}

	#left-title, #right-title {
		display: none;
	}
}
